<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password Link</title>
</head>
<body>
    <img src="../../public/Pictures/logo_transparent.png" alt="" style="border: 5px inset black;"/>
    <b>Hello {{userName}}</b><br/>
    <p> Please press on the link below to change your password!
        <p>The link will be expired in 5 minutes</p>
    </p>
    <br/>
    <b><a href={{link}}>Link to change the password</a></b>

    
</body>
</html>