<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/x-handlebars-template"></script>

    <title>New User Opened</title>
</head>
<body>
    
    <b>Hello {{userName}}</b><br/>
    <p>
        The Administrator opened a new user for you!
        Please Set Your Password in the link below!
        Please be aware that this link will expires in 5 minutes!
        Link to CRM : <a href={{link}}>Set Password</a>

    </p>

    
</body>
</html>